{% extends 'base.html' %}

{% block content %}

    {% if latest_question_list %}
        <ul>
            {% for question in latest_question_list %}
                <a href="{% url 'polls:detail' question.id %}"
                   class="d-inline-flex focus-ring py-1 px-2 text-decoration-none border rounded-2"
                   style="--bs-focus-ring-x: 10px; --bs-focus-ring-y: 10px; --bs-focus-ring-blur: 4px">
                    {{ question.question_text }}
                </a>
            {% endfor %}
        </ul>
    {% else %}
        <p>No polls are available.</p>
    {% endif %}
{% endblock %}