{% extends 'base.html' %}

<title>{% block title %}POST{% endblock %}</title>

{% block content %}

    <div class="d-grid gap-2">
        <a href="/blog/create/" class="btn btn-success" role="button" data-bs-toggle="button">Create new post</a>
</div>


    {% if posts %}
        <ul>
            {% for post in posts %}
                <a href="{% url 'blog:detail' post.id %}"
                   class="d-inline-flex focus-ring py-1 px-2 text-decoration-none border rounded-2"
                   style="--bs-focus-ring-x: 10px; --bs-focus-ring-y: 10px; --bs-focus-ring-blur: 4px">
                    {{ post.title }}
                </a>

            {% endfor %}
        </ul>
    {% else %}
        <p>No posts are available.</p>
    {% endif %}
{% endblock %}